.breadcrumbs-opacity {
  position: relative;
  z-index: 10;
  background-color: rgba(242, 242, 242, 0.88); }
  @media screen and (max-width: 992px) {
    .breadcrumbs-opacity {
      height: 50px; } }

.static-page__preview {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: -50px; }
  @media screen and (max-width: 768px) {
    .static-page__preview {
      margin-top: 0; } }

.static-page__banner-fix {
  position: relative;
  opacity: 0;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .static-page__banner-fix {
      display: none; } }

.static-page__preview-inner {
  background: url(../img/delivery-baner.png) no-repeat center center;
  background-size: 100% auto;
  background-position: 0 0;
  display: block;
  height: auto;
  position: relative;
  outline: none; }
  @media screen and (max-width: 768px) {
    .static-page__preview-inner {
      height: 300px;
      background: url(../img/delivery-baner-mobile.jpg) no-repeat;
      background-position: 0 0;
      background-size: cover; } }
  @media screen and (max-width: 430px) {
    .static-page__preview-inner {
      height: 200px;
      background: url(../img/delivery-baner-mobile.jpg) no-repeat;
      background-position: 0 0;
      -webkit-background-size: cover;
      background-size: cover; } }
  .static-page__preview-inner .banner__content {
    left: 50%;
    top: 32.875%;
    transform: translate(-50%);
    text-align: center; }
    @media screen and (max-width: 431px) {
      .static-page__preview-inner .banner__content {
        transform: translate(-50%, -50%);
        top: 50%; } }
    .static-page__preview-inner .banner__content .banner__title {
      font-size: 48px;
      text-transform: uppercase;
      font-family: "Play", sans-serif;
      color: #fff; }
    .static-page__preview-inner .banner__content .banner__subtitle {
      margin: 32px auto;
      color: #fff;
      position: relative; }
      .static-page__preview-inner .banner__content .banner__subtitle:before {
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateX(-50%);
        left: 50%; }
      @media screen and (max-width: 1024px) {
        .static-page__preview-inner .banner__content .banner__subtitle {
          margin: 18px auto 18px; } }
    .static-page__preview-inner .banner__content .banner__descr {
      font-size: 18px;
      color: #fff;
      font-family: "Play", sans-serif;
      width: auto; }
  .static-page__preview-inner .container {
    height: 100%; }

.delivery__page-banner, .payment__page-banner, .supliers__page-banner {
  background: url(../img/delivery-baner.png) no-repeat center center;
  background-size: 100% auto;
  background-position: 0 0;
  display: block;
  height: auto;
  position: relative;
  outline: none; }
  @media screen and (max-width: 768px) {
    .delivery__page-banner, .payment__page-banner, .supliers__page-banner {
      height: 300px;
      background: url(../img/delivery-baner-mobile.jpg) no-repeat;
      background-position: 0 0;
      background-size: cover; } }
  @media screen and (max-width: 430px) {
    .delivery__page-banner, .payment__page-banner, .supliers__page-banner {
      height: 200px;
      background: url(../img/delivery-baner-mobile.jpg) no-repeat;
      background-position: 0 0;
      -webkit-background-size: cover;
      background-size: cover; } }

.payment__page-banner {
  background: url("../img/payment-baner.png") no-repeat center center;
  background-size: 100% auto;
  background-position: 0 0; }
  @media screen and (max-width: 768px) {
    .payment__page-banner {
      height: 300px;
      background: url(../img/payment-baner-mobile.jpg) no-repeat;
      background-position: 0 0;
      background-size: cover; } }
  @media screen and (max-width: 430px) {
    .payment__page-banner {
      height: 200px;
      background: url(../img/payment-baner-mobile.jpg) no-repeat;
      background-position: 0 0;
      -webkit-background-size: cover;
      background-size: cover; } }

.supliers__page-banner {
  background: url("../img/supliers-banner.png") no-repeat center center;
  background-size: 100% auto;
  background-position: 0 0; }
  @media screen and (max-width: 768px) {
    .supliers__page-banner {
      height: 300px;
      background: url(../img/supliers-banner-mobile.jpg) no-repeat;
      background-position: center;
      background-size: cover; } }
  @media screen and (max-width: 430px) {
    .supliers__page-banner {
      height: 200px;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover; } }
  @media screen and (max-width: 430px) {
    .supliers__page-banner .banner__title .header__article__title {
      font-size: 38px; } }

.header__article__title {
  margin: 0;
  font-size: 1em; }

.delivery__page-title, .payment__page-title, .supliers__page-title {
  padding: 0; }

.payment__page-title, .supliers__page-title {
  margin-top: 10px;
  padding-top: 80px; }
  @media screen and (max-width: 980px) {
    .payment__page-title, .supliers__page-title {
      padding-top: 0;
      background: none;
      margin-top: 30px; } }

.static__variants__tools-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 80px;
  margin-top: -40px; }
  .static__variants__tools-list .static__variant-item {
    display: block;
    margin: 0;
    width: 33.3%;
    padding-bottom: 50px;
    padding-right: 30px; }
    .static__variants__tools-list .static__variant-item:last-child {
      padding-right: 0; }
    @media screen and (max-width: 768px) {
      .static__variants__tools-list .static__variant-item {
        margin-top: 0px;
        width: 100%;
        padding: 20px 0;
        text-align: center; } }
    .static__variants__tools-list .static__variant-item .delivery__article__title, .static__variants__tools-list .static__variant-item .payment__article__title, .static__variants__tools-list .static__variant-item .supliers__article__title {
      font-size: 20px;
      padding: 16px 0; }
    .static__variants__tools-list .static__variant-item p {
      font-size: 16px;
      line-height: 24px;
      color: #1e1e1e; }

.supliers__page-title .static__variants__tools-list {
  justify-content: space-between; }
  .supliers__page-title .static__variants__tools-list .static__variant-item {
    display: block;
    margin: 0;
    width: 44%;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px; }
    @media screen and (max-width: 768px) {
      .supliers__page-title .static__variants__tools-list .static__variant-item {
        margin-top: 0px;
        width: 100%;
        padding: 20px 0;
        text-align: center; } }

.attention__article {
  width: 100%;
  padding: 60px 0; }
  @media screen and (max-width: 768px) {
    .attention__article {
      padding: 30px 0; } }
  .attention__article .attention__header {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    font-weight: bold; }
  .attention__article .attention__text {
    text-align: center;
    width: 70%;
    display: block;
    margin: 16px auto;
    font-size: 16px;
    line-height: 22px; }
    @media screen and (max-width: 768px) {
      .attention__article .attention__text {
        width: 100%; } }

.delivery-svg, .payment-svg, .supliers-svg {
  width: 132px;
  height: 132px; }

.red-text {
  display: inline-block;
  border: none;
  text-decoration: none;
  color: #ff0054;
  font-size: 1em; }
