$big-screen: 1665px;
$normal-screen: 1199px;

.mobile-inserted-menu{
  display: none;
}
.header__action-link .header__action-link-lyra{
  object-fit: scale-down;
}
.header__action-link-lyra{
  object-fit: contain;
}
.advantages {
  padding-top: 147px;
  padding-bottom: 100px;
}
.advantages__item-link{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 300px;
}
.mobile-header__cart-hover{
  display: none !important;
}
.tablet-view{
  display: none;
}
.main-menu__top-wrap{
  display: flex;
  background: #171922;
  width: 100%;
  height: 53px;
  @media screen and (max-width: $big-screen){
    width: calc(100% - 210px);
  }
  .main-menu__top-list{
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
  }
  .main-menu__top-item{
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #3a3c43;
    border-top: none;
    border-bottom: none;
    width: 100%;
    &:first-child{
      width: 187px; /*Нужно для того чтобы былы равны первые елементы*/
      max-width: 187px;
      min-width: 187px;
      @media screen and (max-width: $big-screen){
        width: 137px;
        min-width: 137px;
        max-width: 137px;
      }
    }
    @media screen and (max-width: $big-screen){
    }
  }
  .main-menu__top-link{
    display: block;
    color: #fff;
    text-align: center;
    line-height: 52px;
    background: #171922;
    @media screen and (max-width: 1665px){
      width: auto;
      padding-left: 52px;
      padding-right: 52px;
    }
  }
  .header__about{
    width: 100%;
    max-width: 100%;
    height: 52px;
    line-height: 52px;
  }
}
.main-menu__top{
  z-index: 20;
  .header__action-link{
    width: 71px;
    height: 52px;
    .lyra{
      object-fit: scale-down;
    }
  }
  .top-about{
    width: 100%;
    .header__about-inner{
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
}
.main-menu__bottom{
  background: rgba(12,14,22,.6);
  .header__search{
    align-items: center;
    z-index: 8;
    max-width: 550px;
    @media screen and (max-width: $big-screen){
      max-width: 300px;
    }
    @media screen and (max-width: $normal-screen){
      max-width: 250px;
    }
  }
  .header__search input{
    background-color: #fff;
    height: 35px;
    @media screen and (max-width: $big-screen){
      padding-left: 10px;
      width: 250px;
    }
  }
  .header__search button{
    background-color: #fff;
    height: 35px;
    margin-left: -1px;
    @media screen and (max-width: $big-screen){
      width: 50px;
    }
  }
  .header__city{
    max-width: 200px;
    width: 100%;
    position: relative;
    background: #0c0e16;
    margin-right: 0px;
    a.curent_city-link{
      &:before{
        content: "";
        display: block;
        background: url(../img/position.png);
        width: 18px;
        height: 24px;
        margin-right: 10px;
      }
    }
    .header__about-hover{
      z-index: 9;
    }
    @media screen and (max-width: $big-screen){
      max-width: 130px;
    }
  }
  .header__about > a .open{
    position: static;
    margin-left: 12px;
  }
  .header__about > a .close{
    position: static;
    margin-left: -12px;
  }
  .header__phones-wrap{
    display: flex;
    color: #fff;
    align-items: center;
    margin-left: 75px;
    width: 516px;
    span{
      text-transform: lowercase;
    }
    @media screen and (max-width: $big-screen){
      margin-left: 30px;
    }
    @media screen and (max-width: $normal-screen){
      margin-left: 15px;
    }
  }
  .header__phones-list{
    display: flex;
    margin: 0;
    padding: 0;
    .header__phones-item{
      display: block;
      margin: 0;
      padding: 0;
      margin-left: 14px;
      @media screen and (max-width: $big-screen){
        margin-left: 5px;
      }
    }
    .header__phones-link{
      display: block;
    }
  }
  .header__call-back-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__call-back{
    border: 1px solid #3a3c43;
    border-top: none;
    border-bottom: none;
    height: 61px;
    width: 244px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: $big-screen){
      width: 305px;
    }
    @media screen and (max-width: $normal-screen){
      width: 275px;
    }
  }
  .header__callback-text{
    color: #d40349;
    display: block;
  }
  .image-wrap{
    margin-right: 10px;
  }
  .header__result{
    top: 48px;
    width: calc(100% - 1px);
  }
}
@media screen and (min-width:769px){
  .footer {
    background-color: #171922;
    height: 157px;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer__logo img {
    width: auto;
    height: auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    margin-right: 50px;
  }
}
@media screen and (max-width:$big-screen){
  .header__result-item {
    height: 140px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all .3s linear;
    overflow: hidden;
  }
}
@media screen and (max-width:$normal-screen){
  .header__result-item {
    height: 180px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all .3s linear;
    overflow: hidden;
  }
}

@media screen and (max-width:1150px) and (min-width: 981px){
  .tablet-view{display: block;}
  .main-menu__top{ display: none;}
  .main-menu__bottom{ display: none;}
  .header__call-back-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__call-back{
    border: 1px solid #3a3c43;
    border-top: none;
    border-bottom: none;
    height: 61px;
    width: 244px;
    display: flex;
    align-items: center;
    justify-content: center;
    .header__callback-text{
      margin-left: 15px;
    }
  }
  .header__callback-text{
    color: #d40349;
    display: block;
  }
  .comparison{
    img{
      object-fit: scale-down;
    }
  }
  .header-search__tablet-view{
    display: none;
    width: 100%;
    background-color: #0b0d16;
    position: relative;
    height: 110px;
    align-items: center;
    .header__city{
      background-color: #0b0d16;
    }
    .header__about-hover{
      background-color: #0b0d16;
      z-index: 13;
    }
    .header__about > a{
      z-index: 14;
    }
  }
  .header__search{
    top: 0;
    position: static;
    height: 34px;
    max-width: 800px;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    input{
      background-color: #ffffff;
      height: 33px;
      padding-left: 5px;
    }
    button{
      width: 76px;
      height: 33px;
      background-color: rgba(255, 255, 255, 1);
      outline: none;
      border: none;
      transition: all .3s linear;
      margin-left: -1px;
      margin-right: 35px;
    }
  }
  .header__cart-hover.active{
    z-index: 20;
  }
}
@media screen and (max-width: 980px) {
  .mobile-inserted-menu{
    display: block;
  }
  .tablet-view{
    display: none;
  }
  .main-menu__top{
    display: none;
  }
  .advantages__item-link{
    max-width: 300px;
  }
  .advantages{
    padding-top: 0;
    margin-top: -150px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .mobile-adaptive {
    display: flex !important;
    padding-left: 35px;
  }
  .main-menu__bottom .header__city{
    max-width: 120px;
    background-color: transparent;
  }
  .main-menu__bottom .header__search{
    background: transparent;
    max-width: calc(100% - 150px);
    input{
      width: 100%;
    }
  }
  .header__about-inner{
    padding-left: 20px;
  }
}
.header__city {
  max-width: 200px;
  width: 100%;
  position: relative;
  background: #0c0e16;
  margin-right: 0px;
  a.curent_city-link {
    text-decoration: underline;
    &:before {
      content: "";
      display: block;
      background: url(../img/position.png);
      width: 18px;
      height: 24px;
      margin-right: 10px;
    }
  }
}
.header__result-list-wrapper{
  height: 380px;
  .mCustomScrollBox mCS-light mCSB_vertical mCSB_inside{
    overflow: scroll;
  }
}
.mobile-adaptive{
  display: flex !important;
}
@media screen and (max-width: 480px){
  .mobile-adaptive {
    padding-left: 0;
  }
  .main-menu__bottom .header__search {
    background: transparent;
    max-width: 80%;
    margin: 0 auto;
  }
  .header__mobile-menu-wrap{
    top: 130px;
  }
  .header__action-link-lyra{
    object-fit: scale-down;
  }
}